<ion-view title="Message" id="page4">
    <ion-content padding="false" scroll="false" class="has-header">
        <ion-scroll id="message-container1" class="top-container">
            <ion-list id="message-list4">
                <ion-item class="item-avatar" id="message-list-item5">
                    <img src="img/IkiNVEZSReqH6kHXCFrs_ui-zac.jpg">
                    <h2>Zac Minor</h2>
                    <p>Where are we meeting before the concert</p>
                </ion-item>
                <ion-item class="item-avatar" id="message-list-item6">
                    <img src="img/s7SvpudRVO00nnWYMmhN_ui-divya.jpg">
                    <h2>Rita Castillo</h2>
                    <p>How about the Sushi place on Achilles Ave, next to the art museum</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <form id="message-form9" class="list bottom-form">
            <label class="item item-input" id="message-input15">
                <span class="input-label">Message</span>
                <input type="text" placeholder="">
            </label>
            <button id="message-button8" class="button button-positive  button-full icon-right ion-android-send">Send</button>
        </form>
    </ion-content>
</ion-view>