<ion-view title="Signup" hide-nav-bar="true" cache-view="false" id="page6">
    <ion-content padding="true" style="background: url(img/6L3H2ljvRDCviXMYrIE8_Loginbckgrb26w.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div>
            <img src="img/8KwiPFAhQ2eizS2vysBF_AttuneAppIcon.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="signup-form2" class="list center-form">
            <ion-list id="signup-list3">
                <label class="item item-input top-input" id="signup-input3">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input top-input" id="signup-input5">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input bottom-input" id="signup-input4">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="signup-button3" class="button button-dark  button-block">Sign Up</button>
            <a ui-sref="login" id="signup-button4" class="button button-positive  button-block button-clear">Already have an account?</a>
        </form>
    </ion-content>
</ion-view>